@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #C4E3E6;
  --foreground: #4E3429;
  --primary: #88D1CA;
  --secondary: #F3AFC4;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
